


/*s'applique pour toute la page*/
*{
    box-sizing: border-box;
}

h1,h2{
    
    font-family: 'Lobster Two', sans-serif;  /* pour police internet*/
    /*font-family: 'raggmopp', sans-serif;*/
}

h1{
    line-height: 1.3em ;
}

h2{
    font-size: 1.6rem;
}

p{
    line-height: 1.2rem;
}

hr{
    color: #8f1d1d;
}

/*_______________________________________________________*/
/*barre de navigation*/
/*style hyperline*/
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;  
}


nav a:hover{
    /*text-decoration: underline;
    /*color: white;
    background-color: #8f1d1d;*/
    transform: scale(1.6);
    transition: 0.5s;
}



nav{
    border-bottom: 3px solid #8f1d1d;
    margin-bottom: 20px; 
    background-color: rgba(255, 255, 255, 0.8);
}

nav:hover{
    height: 120px;
    transition: 0.4s;
}

@media screen and (min-width: 768px ){
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center; 
        position: fixed;
        width: 100%;    
        height: 50px;   
    }
}

nav a{
    color: #8f1d1d;
    font-size: 1.4 rem;
    display: block;
    text-align: center;
    padding: 15px;
}
#intro2{
    text-align: center;
    margin: 0;
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
    background-image: url("img/devanture\ .JPG");
    background-position: center ;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 1024px ){
    #intro2{
        font-size: 4rem;    
        text-align: center center;
        padding: 10%;
        font-size: 5rem;
        text-shadow: 1px 1px 2px black;
    }
}
/* ________message gouvernement _______*/
@media screen and (min-width: 1024px ){
    .annonce_gouv{
        text-align: center;
        color: black;
        background-color: red;
        margin-top: 10px;
        margin-left: 30%;
        margin-right: 30%;
        border-width: 1em;
        border-radius: 15px;
        border: 10px solid red;
        
    }
}

.annonce_gouv{
    text-align: center;
    color: black;
    background-color: #8f1d1d;
    margin-top: 10px;
    border-width: 1em;
    border-radius: 15px;
    border: 10px solid #8f1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.annonce_gouv:hover{
    transform: scale(1.05);
    transition: 4s;
}
*/
.annonce_gouv a {
    text-decoration: none;
    color: white
}

.annonce_gouv a:hover {
    text-decoration: underline;
    color: white
}

.annonce_gouv h3{
    font-family: 'Lobster Two', sans-serif;
}

.annonce_gouv i{
    color: white;
    font-size: 5rem;
}


/*__________barre haut ________*/
#barre_haut{
    text-align: center;
    color: black;
    padding-top: 0.5rem;
}

#barre_haut i{
    font-size: 2rem;
    line-height: 4rem;
    color: #5b5858;
}

#barre_haut a ,#barre_haut p {
    text-align: center;
    color: black;
    font-size: 1.2rem;
    margin: 10%;
}

@media screen and (min-width: 768px){
    /*#barre_haut{
        display: flex;
        justify-content: space-between;  
    }*/
    #barre_haut {
        display: table;
    }

    #barre_haut article, #barre_haut aside {
        display: table-cell;
        vertical-align: middle;
        width: 10%;
    }
}

#barre_haut a:hover{
    color: #8f1d1d;
}


.act1, .act5{
    background-color: #d8d5d5;
    text-align: center;
}

.act2, .act4{
    background-color: #b5afaf;
    text-align: center;
}

.act3 {
    background-color: #d8d5d5;
    text-align: center;
}


/*________________________________________________________*/
/*début du main*/

main{
    margin-left: 7%;
    margin-right: 7%;
}

/*_________philosophie______________________*/
@media screen and (min-width: 768px){
    #philo{
        text-align: center;
        display: flex;
        justify-content: space-between;   
    }
    
     #philo article{
        flex-basis: 65%;
    }
}

#philo h1{
    font-size: 3rem;
    color: #8f1d1d;
    text-align: center;
}
#philo h2{
    color: #8f1d1d;
    text-align: center;
}
#philo p {
    text-align: justify;
}

#philo img{
    width: 100%; 
    align-items: stretch;   
}

#philo:hover img{
    transition: 5s;
    transform: translate(-20px);

}
/* ___________nous ________________*/
@media screen and (min-width: 768px){
    #nous{
        text-align: center;
        display: flex;
        justify-content: space-between;   
    }
    
     #nous article{
        flex-basis: 65%;
    }
}

#nous h1{
    font-size: 3rem;
    color: #8f1d1d;
    text-align: center;
}

#nous p {
    text-align: justify;
}

#nous img{
    width: 90%;   
    bottom: 10%; 
}

#nous:hover img{
    transition: 5s;
    transform: translate(20px);

}

/*_____________________galettes crepes__________________*/
/*@media screen and (min-width: 768px){
    #galettes{
        display: flex;
        justify-content: space-around;   
    }
    
     #galettes{
        flex-basis:50%;
    }
}*/

#titre h1{
    font-size: 3rem;
    color: #8f1d1d;
    text-align: center;
}

#galettes img{
    width: 100%; 
    text-align: center; 
    padding: 2%;  
}
#galettes h2{
    font-size: 2.2rem;
    color: #8f1d1d;
    text-align: center;
}

@media screen and (min-width: 1024px ){
    #galettes{
        display: flex;
        justify-content: space-around;
        
    }
}

#galettes article img:hover{
    transform: scale(1.3);
    transition: 2s;
}

/*#galettes img:hover{
    transform: scale(1.1);
    transition: 5s;
}*/


/*________vente a emporter_________________*/
#intro_vente{
    text-align: center;
    margin: 0;
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
    background-image: url("img/Vente\ à\ emporter.jpg");
    background-position: center ;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    width: 100%;
    height: 100%;
}
#vente h1{
    font-size: 3rem;
    color: #8f1d1d;
    text-align: center;
}

@media screen and (min-width: 768px){
    #vente{
        display: flex;
        justify-content: space-between;
    }
    
}

#vente {
    text-align: center;
}

#vente img{
    padding: 1rem;
    width : 550px; 
    height: 750px;
}

#horraires i {
    font-size: 2.5rem;
    color: #634f4f;
}

#horraires{
    background-color: #b5afaf;
    border: 10px solid #b5afaf;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.2rem;
}

#vente article a{
    text-decoration: none;
    color: #8f1d1d;
}

#vente article a:hover{
    text-decoration: underline;
}
/* ___________photos___________*/

#photos article{
    text-align: center;
    padding: 0.7em;
}

@media screen and (min-width: 768px){
    #photos{
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

#photos article:hover{
    transform: scale(1.3);
    transition: 2s;
}

#audio{
    text-align: center;
}

/*___________Soirées a thèmes_________________________*/
@media screen and (min-width: 768px){
    #soirées h1{
        font-size: 3rem;
        color: #8f1d1d;
        text-align: center;
    }
    #soirées p,#soirées h3{
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
    }

    #soirées a{
        color: #8f1d1d;
        text-align: center;
    }
}

#soirées h3{
    text-align: center;
    font-family: 'Lobster Two', sans-serif;

}

#soirées h1{
    font-size: 3rem;
    color: #8f1d1d;
    text-align: center;
}
#soirées p{
    text-align: center;
}

#soirées a{
    color: #8f1d1d;
    text-align: center;
}
#soirée{
    background-color: linear-gradient(blue, white);
}

/*_____________________partenaires__________________*/
#partenaires h1 {
    text-align: center;
    color: #8f1d1d;
    font-size: 3rem;
}
#partenaires h2{
    color: black;
    font-size: 1.8rem;
    text-align: center;
}

#un , #deux{
    text-align: center;
}

#un a, #deux a {
    color: #8f1d1d;
}

@media screen and (min-width: 768px){
    #un{
        display: flex;
        justify-content: space-around;
    }
    #deux{
        display: flex;
        justify-content: space-around;
    }
}

#un img:hover, #deux img:hover{
    transform: scale(1.1); 
    transition: 2s;
}
/*_____________________________________________________________*/
/*footer*/
footer{
    background-color: #8f1d1d;
    color: white;
    text-align: center;
    margin-bottom: 0rem;
}

footer h1{
    font-size: 3rem;
}
footer h2{
    font-size: 2.5rem;
}
footer h3{
    font-size: 1.9rem;
    line-height: 0.1rem;
}
footer address{
    font-size: 1.8rem;
}

@media screen and (min-width: 768px){
    #intro, #bas{
        display: flex;
        justify-content: space-between;   
    }
    
     #bas article{
        flex-basis: 50%;
    }
}

footer a:hover{
    text-decoration: underline;
    color: black;
}

#bas a{
    text-decoration: none;
    color: white;
}
#bas a:hover{
    text-decoration: white;
    text-decoration: underline;

}

#basdepage2 a {
    text-decoration: none;
    color: black;
}

#basdepage2 a:hover{
    color: #8f1d1d;
}

/*pour la carte*/
iframe{
    width: 80%;
    height: 100%;
    border: 10;
}

#basdepage2{
    background-color: #634f4f;
    text-align: center;
    color: Black;
    padding: 0.2rem;
}

/*______________Mentions légales_____________________*/
#mentions h1{
    color: #8f1d1d;
    text-align: center;
    font-size: 3rem;
}
#mentions h2{
    color: black;
    text-align: left;
    font-size: 2rem;
}



/*_________________________________________________________*/
/*pour l'impression sans le header le et footer*/
@media print{
    header, footer {
        display: none;
    }
}